<% var name = current_user.escape('name') %>


<div class="header">




<ul>
  <li class="dream">dreamcatcher</li>
  <li><img class="logo" src="dreamcatcher.png" alt="" /></li>
  <% if (name !== 'undefined') { %>
  <%= name %>
  <li><a  href="create.html"><%= name %></a>
  <% if (current_user.escape('image') !== "") { %>
     <img class="logo" src= <%= current_user.escape('image') %> />
  <% }} %>
  </li>
  <li>BECOME A MENTEE</li>
  <li class="becomementor">BECOME A MENTOR</li>
  <li>LOGIN</li>
  <li class="search"><input id="search" placeholder="WHAT'S YOUR PASSION?"type="text" name="name" value=""></li>
  <li class="searchsvg"><img id="searchsvg" src="Search_font_awesome.svg" alt="" /></li>
</ul>

</div>

<a href="/auth/twitter">Sign in with Twitter</a>
<form class="sign-up-form" >
  sign up (now in signin.jst.ejs)
  name
  <input type="text" name="user[name]" value="" placeholder="name">
  password
  <input type="password" name="user[password]" value="" placeholder="password">
  password confirmation
  <input type="password" name="user[password_confirmation]" value="" placeholder="password_confirmation">
  <input type="submit" class="sign-up" name="name" value="submit">
</form>

<form class="sign-out-form" action="/session" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" class="sign-out" name="name" value="Logout"></input>

</form>

<form class="sign-in-form" action="/session" method="post">
  name
  <input type="text" name="user[name]" value="" placeholder="name">
  password
  <input type="text" name="user[password]" value="" placeholder="password">
  <input type="submit" class="sign-in" name="name" value="Sign in">
</form>
