
<%= filepicker_js_include_tag %>
<h1>DreamCatcher<h1>
  <!-- can do erb with @user here-->
  <header class="current_user">

  </header>



<div>

</div>


<script type="text/javascript">
  $(document).ready(function() {
    DreamCatcher.initialize();
    filepicker.setKey("<%= ENV['FILEPICKER_KEY'] %>")
  });
</script>
