<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<form class="" action="index.html" method="post">
Edits
<input type="button" name="name" value="" style="background: blue;">
<input type="hidden" id="lng" value="<%= @post.lng %>">
<input type="hidden" id="lat" value="<%= @post.lat %>">
</form>

<form class="location" action="index.html" method="post">
  Location:
  <input id="searchTextField" type="text" name="name" value="">
</form>
<div class="map">

</div>

<form class="" action="/update" method="post">
  <input type="hidden" name="authenticity_token" value="authenticity_token">
  <input type="text" name="name" value="<%= @post.front %>"><br>
  <input type="text" name="name" value="<%= @post.back %>">
  <input type="submit" name="name" value="">

</form>
</body>

  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>


</html>

  <script type="text/javascript">
    gMap.initMap();
    // curl -H "Content-type: application/json" -H "Accept: application/json" -X POST -d '{"customer_id": "2227","api_key": "k6mpiid1o3ia5e3ep1q24u8bi"}' http://api-v2.applymagicsauce.com/auth
// use for apply magic sauce
// $.ajax({
//   url: "http://api-v2.applymagicsauce.com/auth",
//   type: "POST",
//   headers: "Content-type: application/json, Accept: application/json",
//   data: {"customer_id": "2227","api_key": "k6mpiid1o3ia5e3ep1q24u8bi"},
//      success: function(){debugger},
//      error:function(){debugger}
// })


    // $.ajax({
    //   url: "http://api-v2.applymagicsauce.com/like_ids?uid=119347235118814",
    //   type: 'POST',
    //   headers:
    //     'X-Auth-Token: 4sjd3dh83d58ingde0vvptjrhi, Content-type: application/json, Accept: application/json'
    //
    //   ,
    //   data: [1,2,3,4,5,6],
    //   success: function(){debugger},
    //   error:function(){debugger}
    // })
  </script>
