<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<form class="" action="index.html" method="post">
Edits
<input type="button" name="name" value="" style="background: blue;">
<input type="hidden" id="lng" value="<%= @post.lng %>">
<input type="hidden" id="lat" value="<%= @post.lat %>">
</form>

<form class="location" action="index.html" method="post">
  Location:
  <input id="searchTextField" type="text" name="name" value="">
</form>
<div class="map">

</div>

<form class="" action="/update" method="post">
  <input type="hidden" name="authenticity_token" value="authenticity_token">
  <input type="text" name="name" value="<%= @post.front %>"><br>
  <input type="text" name="name" value="<%= @post.back %>">
  <input type="submit" name="name" value="">

</form>
</body>

  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>


</html>

  <script type="text/javascript">
    gMap.initMap();
  </script>
