<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<form class="" action="index.html" method="post">
Edits
<input type="button" name="name" value="" style="background: blue;">
</form>

<form class="location" action="index.html" method="post">
  Location:
  <input id="searchTextField" type="text" name="name" value="">
</form>
<div class="map">

</div>
</body>

  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript" >
  $(document).ready(function(){
    // gMap.initialize();
    gMap.initMap();
  })
  </script>

</html>
