<div class="post-show-wrap">


<div class="post-show">

Awesome Content Here <br>

<%="post: " + @post.id.to_s %> <br>
<%= "title: " + @post.front %> <br>
<a href= <%= @post.id.to_s + "/edit" %> >edit</a>
</div>
</div>
