<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<div class="map">

</div>
<div class="post-show-wrap">


<div class="post-show">

Awesome Content Here <br>

<%="post: " + @post.id.to_s %> <br>
<%= "text: " + @post.back %> <br>
<a href= <%= @post.id.to_s + "/edit" %> >edit</a>
</div>
</div>

</body>
</html>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" >
  $(document).ready(function(){
    // gMap.initialize();
    gMap.initMap();
  })

</script>
