html {
  width: 100%;
  margin: auto;
  background: red;
}
h1 {
  background: white;
  display: block;
  height: 50px;
  border: 10px solid red;
}

ul {
  display: flex;
  height: 50px;
  /*align-items: flex-start;*/
  width: 100%;
  justify-content: flex-start;
}



a { font-family: inherit;
    font-size: inherit;
    padding: inherit;
    margin: inherit;
    color: #3992EF;
    text-decoration: none;
    font-weight : bold;
    }

.dream {
  padding: 0 0 0 45px;
  font-size: 37px;
  border-right: none;
  height: 35px;
  font-family:  'Raleway', sans-serif;
  align-self: flex-start;
}

.logo {
  height: 35px;
  width: 20px;
  padding: 0 65px 0 0;
  align-self: flex-start;
}

.thumbnail{
  height: 28px;
  width: 28px;
}

.mentor {

}

.sort {
  display: none;
}

ul > li {
  font-size: 15px;
  background: #E5E5E5;
  height: 20px;
  display: block;
  padding: 5px 5px 10px 5px;
  align-self: stretch;
  border-right: 1px solid black;
  font-family: 'News Cycle', sans-serif;

}

li:hover {
  cursor: pointer;
}

.account-wrap {
  display: flex;
  position: relative;
  flex-direction: column;
}
.account-wrap > .sub-wrap > .account {
  position:absolute;
opacity: 0;
  height: 0;
    transition: all .5s ease;
    transition: background 0s;
}


.lead {
  padding: 5px 0 0 0;
  display: block;
  position:static;

}

.sub-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
}

.account-wrap:hover > .sub-wrap > .account{
  position: static;
  padding: 10px;
  z-index: 100;
  background: white;
  display: block;
  width: 180px;
  height: 20px;
  opacity: 1;
  transition: all 2s ease;
}

.account-wrap > .sub-wrap > .account:hover {
  background: gray;
}

.sign-out:hover{
  cursor: pointer;
}

.goals {
  background: blue;
}

#search{
  padding: 0 0 0 5;
  font-family: 'News Cycle', sans-serif;
  width: 190px;
  font-weight: bold;
  color: white;
}

input::-webkit-input-placeholder {
  color: white;
}

.search {
  width: 160px;
  background: #D10000;
  padding: 5px 10px 10px 5px;
}

.search-bar {

}

#searchsvg {
  height: 12px;
  width: 12px;
  color: white;
  padding: 5px 11px 5px 10px;
}

.searchsvg {
background: black;}

.header {
  display: flex;
  background: #E5E5E5 ;
  justify-content: space-between;
  height: 37px;
  width: 100%;
}
