// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .post-show-wrap {
//   display: flex;
//   justify-content: center;
//   height: 100%;
//   background: blue;
// }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // font-size: 30px;
}
a > input{
  cursor: pointer;
}
.media-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.post-show{
  font-size: 30px;
  position: fixed;
  margin: auto;
  left: 0%;
  top: 0%;
  opacity: .5;
  background: purple;

}

.wrap-wrap{
  height:100%;
  width:50%;

}
.title-image {
  height: 100%;
  width: 100%;
}
.map {
  height: 100%;
  width: 35%;

}

.info {
  padding: 0 2% 0 2%;
  font-size: 25px;
  background:black;
  width:61%;
  height: 100%;
  color: white;
}

.slides {
  width: 60%;
  height: 100%;
}

.slides > iframe {
  width: 100%;
  height:100%
}

.video{
  width: 40%;
  height: 100%
}
.video > iframe {
  width:100%;
  height:100%;
}

.location > input {
  border-bottom: 4px solid black;
}
