
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // font-size: 30px;
}
a > input{
  cursor: pointer;
}
.media-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.post-show{
  font-size: 30px;
  position: fixed;
  margin: auto;
  left: 0%;
  top: 0%;
  opacity: .5;
  background: purple;

}

.wrap-wrap{
  height:100%;
  width:50%;

}
.title-image {
  height: 100%;
  width: 100%;
}
.map-wrap > #edit-map {
  height: 600px;
  width: 500px;
  margin: auto
}

.map {
  height: 100%;
  width: 35%;
}
.location {
  margin: auto;
  text-align: center;
}
.info {
  padding: 0 2% 0 2%;
  font-size: 25px;
  background:black;
  width:61%;
  height: 100%;
  color: white;
}

.slides {
  width: 60%;
  height: 100%;
}

.slides > iframe {
  width: 100%;
  height:100%
}

.video{
  width: 40%;
  height: 100%
}
.video > iframe {
  width:100%;
  height:100%;
}

.location > input {
  border-bottom: 4px solid black;
}

.cover-wrap {
  width: 100%;
  height: 100%;
    margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #C2CBCE;
  font-size: 24px;
  font-family: Raleway;
}

.map-wrap{
  width: 48%;
  background: #C2CBCE;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  width: 48%;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
}

.edit-form  {
  display: flex;
  flex-direction: column;
}

.edit-form > input {
  border: 1px solid black;
  border-radius: 5px;
}

.edit-form > input::-webkit-input-placeholder {
  color: gray;
}

.form-entry {
  cursor: pointer;
}
