@import "header.css";
@import "meta.css";
@import "login-modals.css";

.check{
  background: yellow;
}
.rain {
  background: #E8F3F8}
.sky{
  background: #DBE6EC
  }
.coral {
  background: #C2CBCE
}

.jet {
  background: #A4BCC2
}

.ocean {
  background: #81A8B8
}

html, li, ul, div, img, input, button {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font: inherit;
  text-decoration: inherit;
  text-align  : inherit;
  list-style: none;
  list-style-type: none;
  color: inherit;
  background: transparent;
  background: transparent;
  font-family: 'Raleway', sans-serif;

}

button {
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  width: 50px;
  margin: 0 auto 20px auto;
  background: #24A8DE;
  box-shadow: 0 3px 1px #074C99;
  font-weight: bold;

}

button:active {

  transform: translate(0, 5px);
  box-shadow: 0 0 0 0;

}

.options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: transparent;
  margin: 0 6.8%;
  font-family: Roboto;
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.upvotes, .recent {
  border-top: 1px solid black;

}
.upvotes:hover, .recent:hover {
  cursor: pointer;
}
.upvotes {
  border-left: 1px solid black;
  border-right: 1px solid black;

}
.recent {
  border-right: 1px solid black;
}
.search-input::-webkit-input-placeholder {
  color: white;

}
.search-input::-moz-placeholder {
  color: white;
}
.search-input {
  background: #D10000;
  padding: 3px 10px;
}

#search-pad {
  padding: 3px 10px;
}

.options > * {
  padding: 0 10px;
}
.text-search {
  margin: 0 0 0 4%;
  background: transparent;
  padding: 0 10px;
}


.Pictures > li {
   display: block;
   position:static;
   width: 170px;
   height: 170px;
   background: transparent;
   padding: 0;
   border: 0px solid black;


}


.card {
  position: relative;
  cursor: pointer;
  margin: auto;

}

.front {
  position: absolute;
  background: #81A8B8;
  width: 170px;
  height: 170px;
    overflow-y: hidden;
}



img {
  width: 100%;
  display: block;
  height: auto;
}


.back {
  position: absolute;

  width: 170px;
  height: 170px;
  display: flex;
  flex-flow:column;
  justify-content: center;
}

.backtext {
  width: 160px;
  height : 100px;
  padding: 0 5px 0 5px;
  overflow: hidden;
  /*text-align: center;
  tex*/
}

.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;

}

.back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(180deg);
  display: flex;
}

p {
  top: 40px;
  margin: auto;
  background: transparent;
}

.card.effect_hover:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card.effect_hover:hover .back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

body {

}

html {
  margin: auto;

}
.wavelength {
  width: 100%;
  font-size: 12px;
  padding: 5px 0 5px 10px;
  background: black;
  color: white;
  margin: 510px 0 0 2;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 97%;

}

.wavelength > p {

  background: transparent;

}

.new-form {
  background: #81A8B8;
  width: 340px;
  height: 170px;
  display: flex;
  text-align: center;
  font-weight: bold;

}
.new-post {
  height: 168px;
  width: 168px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.new-post > textarea {
  height: 100px;
  width: 162px;
}
.new-post > input {
  border: 2px solid black;
  width: 100px;
  height: 40px;
}

/*.upload > input {
  font-weight: bold;
  background: purple;
}*/

.upload-form {
   height: 168px;
   width: 168px;
   border: 1px solid black;
   display: flex;
   justify-content: space-around;
}
.upload {
  width: 100px;
  height: 50px;
  margin: 50px 0;
  text-align: center;
}
